log/*.log
log/*.pid
log/searchd.development.pid
log/searchd.*
tmp/**/*
doc/api
doc/app
.DS_Store
tmp/**/*
db/*.sqlite3
db/schema.rb
public/javascripts/all.js
public/stylesheets/all.css
config/database.yml
public/system/*
db/sphinx
db/sphinx/*
log/*.pid
config/development.sphinx.conf
public/*.xml
public/sitemap.xml
public/metas
public/metas.html
public/feedback
public/feedback/*
public/business
public/business/*
public/categories
public/categories/*
public/sitemap/*
public/seo*
public/street/*
public/streets*
public/uploads
public/uploads/*
public/uploads*
public/javascripts/base_packaged.js
public/stylesheets/base_packaged.css
public/javascripts/public_bundle.js
public/stylesheets/public_bundle.css
public/stylesheets/compiled/application.css
public/stylesheets/compiled/base.css
public/stylesheets/compiled/buttons.css
public/stylesheets/compiled/clarity.css
public/stylesheets/compiled/fonts.css
public/stylesheets/compiled/formtastic.css
public/stylesheets/compiled/grid.css
public/stylesheets/compiled/ie.css
public/stylesheets/compiled/layout.css
public/stylesheets/compiled/print.css
public/stylesheets/compiled/reset.css
public/stylesheets/compiled/screen.css
public/stylesheets/compiled/tables.css
public/stylesheets/compiled/text.css
public/stylesheets/compiled
public/stylesheets/compiled/*
config/billing.yml
config/deploy.rb
config/env.yml
config/deploy.rb
tmp/*.html
tmp/html
public/javascripts/admin_package.js
public/stylesheets/admin_package.css
coverage/
coverage/*
config/billing.yml
public/javascripts/publicjs.js
public/stylesheets/publiccss.css
public/data/videos/*
public/javascripts/adminjs.js
public/stylesheets/admincss.css
tmp/restart.txt