= title @company.name

%h1= @company.name

%dl
  - if @company.name.present?
    %dt Name
    %dd= @company.name
    
  - if @company.description.present?
    %dt Description
    %dd= @company.description