%ul#admin_nav
  %li.users_menu= link_to 'Users', admin_users_path
  %li.companies_menu= link_to 'Companies', admin_companies_path
  %li.back_menu= link_to 'Back to Dashboard', dashboard_path
.clear

- content_for :on_ready do
  == $('#admin_nav .#{controller_name}_menu').addClass('selected');